<div class="login-container" role="main">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class="card-title">Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
        <mat-form-field class="input-field" appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter your username" formControlName="username" required>
          <mat-error *ngIf="loginForm.get('username')!.hasError('required')">
            Username is required
          </mat-error>
          <mat-error *ngIf="loginForm.get('username')!.hasError('minlength')">
            Username should be at least 4 characters long
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-field" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your password" formControlName="password" required>
          <mat-error *ngIf="loginForm.get('password')!.hasError('required')">
            Password is required
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')!.hasError('minlength')">
            Password should be at least 4 characters long
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
          Login
        </button>
      </form>
      
      <!-- Display error message -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </mat-card-content>
  </mat-card>
</div>
