.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-btn {
  align-self: flex-end; /* Move the "Add Product" button to the right */
  margin-top: 16px; /* Add some top margin for spacing */
  background-color: #4caf50; /* Green background color */
  color: #fff; /* White text color */
  padding: 8px 16px; /* Add padding to increase button size */
  border: none; /* Remove border */
  border-radius: 4px; /* Add border radius for rounded corners */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s; /* Add a smooth transition effect */
}


.header-container {
  display: flex;
  justify-content: flex-end; /* Move items to the right */
}

.spacer {
  flex-grow: 1; /* Make the spacer grow and push the Logout button to the right */
}

.logout-container {
  margin-right: 16px; /* Add some right margin for spacing */
}
