<mat-dialog-content>
  <form [formGroup]="addForm" (ngSubmit)="save()">
    <div class="form-field">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" placeholder="Title" required>
        <mat-error *ngIf="addForm.controls['title'].hasError('required')">Title is required</mat-error>
      </mat-form-field>
    </div>
    
    <div class="form-field">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" placeholder="Description" required></textarea>
        <mat-error *ngIf="addForm.controls['description'].hasError('required')">Description is required</mat-error>
      </mat-form-field>
    </div>
    
    <div class="form-field">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Price</mat-label>
          <input matInput formControlName="price" placeholder="Price" required type="number">
          <span matPrefix>$</span>
          <mat-error *ngIf="addForm.controls['price'].hasError('required')">Price is required</mat-error>
          <mat-error *ngIf="addForm.controls['price'].hasError('min')">Price must be greater than or equal to 0</mat-error>
        </mat-form-field>
      </div>
      
  </form>
</mat-dialog-content>
<mat-dialog-actions class="add-actions">
  <button mat-button (click)="cancel()" class="cancel-button">Cancel</button>
  <button mat-button color="primary" [disabled]="!addForm.valid" (click)="save()" class="save-button">Save</button>
</mat-dialog-actions>
