<app-header></app-header>
<div class="table-container">
   <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
   <button *ngIf="isAdmin" mat-raised-button color="primary" class="add-button" (click)="openProductForm()">Add Product</button>
   <mat-table class="mat-elevation-z8 compact-table" [dataSource]="dataSource">
      <!-- Define columns -->
      <ng-container matColumnDef="id">
         <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
         <mat-cell *matCellDef="let product">{{ product.id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="title">
         <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
         <mat-cell *matCellDef="let product">{{ product.title }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
         <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
         <mat-cell *matCellDef="let product">{{ product.description }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="price">
         <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
         <mat-cell *matCellDef="let product">{{ product.price | currency:'USD':'symbol':'1.2-2' }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions" *ngIf="isAdmin">
         <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
         <mat-cell *matCellDef="let product">
            <button mat-raised-button color="primary" class="action-button" (click)="editProduct(product)">Edit</button>
            <button mat-raised-button color="warn" class="action-button" (click)="deleteProduct(product)">Delete</button>
         </mat-cell>
      </ng-container>
      <!-- Header row -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <!-- Data rows -->
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   </mat-table>
</div>